<div class="education-section">
    <button class="boton-edicion" aria-label="editar">
        <img src="assets/img/edit_icon.svg" alt="Icono de edición">
    </button>
    <h2 class="education-title section-titles">EDUCACIÓN</h2>
    <div class="education-container">
        <div class="education-item-container">
            <div class="education-item">
                <div class="education-logo">
                    <img src="assets/img/APLogo2.png" alt="Logo Argentina Programa" class="education-logo-img">
                </div>
                <div class="education-details">
                    <h3 class="education-place"> Argentina Programa</h3>
                    <h4 class="education-name">SeProgramar/YoProgramo</h4>
                    <h4 class="education-date">2022</h4>
                </div>
            </div>
        </div>
        <div class="education-item-container">
            <div class="education-item">
                <div class="education-logo">
                    <img src="assets/img/codoacodo-logo.png" alt="Logo Codo a Codo" class="education-logo-img">
                </div>
                <div class="education-details">
                    <h3 class="education-place">Codo a Codo</h3>
                    <h4 class="education-name">Fundamentos de Programación</h4>
                    <h4 class="education-date">2018</h4>
                </div>
            </div>
        </div>
        <div class="education-item-container">
            <div class="education-item">
                <div class="education-logo">
                    <img src="assets/img/LogoLUZ.png" alt="Logo Universidad del Zulia" class="education-logo-img">
                </div>
                <div class="education-details">
                    <h3 class="education-place">Universidad del Zulia</h3>
                    <h4 class="education-name">Ingeniería de Petróleo</h4>
                    <h4 class="education-date">2008-2013</h4>
                </div>
            </div>
        </div>
    </div>
</div>
