<div >
<form  #f="ngForm"  class="form-container" (ngSubmit)="onAdd()" novalidate>
    <input type="text" name="empresa" placeholder="Empresa" [(ngModel)]="empresa" required>
    <input type="text" name="cargo" placeholder="Cargo ocupado" [(ngModel)]="cargo" required>
    <input type="text" name="fecha" placeholder="Fecha" [(ngModel)]="fecha" required>
    <textarea name="descripcion_cargo" id="descripcion_cargo" cols="50" rows="10" [(ngModel)]="descripcion_cargo" required>Breve descripcion del cargo</textarea>
    <input type="text" name="url_logo" placeholder="URL del logo de la empresa" [(ngModel)]="url_logo" required>
    <button type="submit" class="btn-add">Agregar</button>
</form>
</div>
