*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    --color-primario: #260B78;
    --color-secundario:#A0BCC7;
    --color-texto-primario:#000000;
    --color-texto-secundario:#ffffff;
    --color-decoracion:#ffffff;
    --fontsize-titulos: 3.5rem;
    --fontsize-subtitulos: 3rem;
    --fontsize-contenido: 2.5rem;
    --fontfamily-web: Hepta Slab;
    --HeaderFooter-Size: 7rem;
}

/* ESTILOS DEL HEADER */
.header-section{
    background-color: var(--color-primario);
    position: fixed;
    width: 100%;
    height:var(--HeaderFooter-Size);
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    z-index: 200;
}
.logo-section{
    /* position: absolute; */
    width: 30%;
    height:var(--HeaderFooter-Size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* left: 1.5rem; */
}
.logo-curso-responsive{
    display: none;
}
.logo-curso{
    /* position: absolute; */
    width: 80%;
    height: 60%;
    max-width: 13rem;
    max-height: var(--HeaderFooter-Size);
}
.nombre_curso{
    /* position: absolute; */
    font-size: 1.5rem;
    display: block;
    padding: 0;
    color:var(--color-texto-secundario);
    /* top: 5.5rem;
    left: 1.5rem; */
    letter-spacing: 0.5rem
}
.social-section{
    width: 50%;
    height:var(--HeaderFooter-Size);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.social-bar {
    margin: 0 2rem 0 0;
}
.social-section img {
    height: 4rem;
    width: 4rem;
    margin: 0.5rem;
    padding: 0;
}
.login-bar img{
    height: 5.5rem;
    width: 5.5rem;
}
.abrirMenu-responsive{
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}
.nombre-redes{
    display: none;
}
.cerrarMenu-responsive{
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}
/* ESTILOS DEL HEADER RESPONSIVE */
@media only screen   and (max-width: 769px){
    :root{
        --HeaderFooter-Size: 5rem;
    }
    .header-section{
        height: var(--HeaderFooter-Size); 
        padding: 0 0.3rem 0 0.3rem;
        z-index: 200;
    }
    .logo-section{
        width: 40%;
        height: var(--HeaderFooter-Size); 
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
    }
    .logo-curso-responsive{
        display: flex;
        width: 80%;
        height: 90%;
        max-width: 5rem;
        max-height: 5rem;
    }
    .logo-curso{
        display: none;
    }
    .nombre_curso{
        font-size: 1.3rem;
        letter-spacing: 0.3rem
    }
    .social-section{
        width: 40%;
        height: var(--HeaderFooter-Size); 
        display: flex;
        justify-content: flex-end;
        align-items:center;
        z-index: 200;
    }
    .social-bar {
        margin: 0;
        position: absolute;
        width: 40%;
        max-width: 18rem;
        top: 0;
        right: 0rem;
        display:none;
        flex-direction: column;
        background-color: var(--color-primario);
        z-index: 200;
    }
    .social-bar a{
        height: var(--HeaderFooter-Size); 
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        /* margin: 0.3rem; */
    }
    .cerrarMenu-responsive{
        display: flex;
        padding: 0;
    }
    .social-bar :first-child{
        align-self: flex-end;
    }
    .menu-abierto{
        display: flex;
        animation-duration: 0.8s;
        animation-name: abriendo-menu;
    }
    /* .menu-cerrado{
        
        animation-duration: 0.8s;
        animation-name: cerrando-menu;
    } */
    .nombre-redes{
        display: flex;
        color: var(--color-texto-secundario);
        font-size: 1.3rem;
        letter-spacing: 0.3rem;
        margin-left: 2rem;  
    }
    .social-section img {
        height: 3.5rem;
        width: 3.5rem;
        /* margin: 0 0 0.2rem  0; */
        padding: 0;
    }
    .login-bar img{
        height: 3.5rem;
        width: 3.5rem;
    }
    .abrirMenu-responsive{
        display: flex;
    }
    .abrirMenu-responsive img{
        height: 3rem;
        width: 3rem
    }
    .cerrarMenu-responsive img{
        margin:1.25rem 1rem 1.25rem 0;
        height: 2.5rem;
        width: 2.5rem
    }
    @keyframes abriendo-menu {
        0%{width:0;}
        100%{width:40%;}
    }
/*  @keyframes cerrando-menu {
        0%{width:40%;}
        100%{width:0;}
    } */
}
@media only screen and (max-width: 400px){
    :root{
        --HeaderFooter-Size: 4rem;
    }
    .header-section{
        height: var(--HeaderFooter-Size); 
        padding: 0 0.2rem 0 0.2rem;
    }
    .logo-section{
        /* width: 40%; */
        height: var(--HeaderFooter-Size); 
        /* flex-direction: row; */
        /* justify-content:flex-start; */
        align-items: center;
    }
    .logo-curso-responsive{
        /* display: flex;
        width: 80%; */
        height: 100%;
        max-width: 4.5rem;
        max-height: var(--HeaderFooter-Size); 
        margin: 0;
    }
/*.logo-curso{
        display: none;
    } */
    .nombre_curso{
        display: none;
    }
    .social-section{
        width: 40%;
        max-width: 15rem;
        height: var(--HeaderFooter-Size); 
        display: flex;
        justify-content: flex-end;
        align-items:center;
    }
    .social-bar {
        /* margin: 0;
        position: absolute; */
        width: 70%;
        max-width: 15rem;
        /* top: 0;
        right: 0rem;
        display: none;
        flex-direction: column;
        background-color: var(--color-primario); */
    }
    .social-bar a{
        height: var(--HeaderFooter-Size); 
        /* text-decoration: none;
        display: flex;*/
        align-items: center;
        /* justify-content: flex-start; */
        /* margin: 0.3rem; */
    }
    .cerrarMenu-responsive{
        /* display: flex;
        padding: 0; */
        height: var(--HeaderFooter-Size); 
    }
    /* .social-bar :first-child{
        align-self: flex-end;
    } */
    /* .menu-abierto{
        display: flex;
    } */
    .nombre-redes{
        /* display: flex;
        color: var(--color-texto-secundario); */
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        margin-left: 1.5rem;  
    }
    .social-section img {
        height: 3rem;
        width: 3rem;
        /* margin: 0 0.4rem 0 0; */
        /* padding: 0; */
    }
    .login-bar img{
        margin: 0 0.2rem 0 0;
        /* height: 3.5rem;
        width: 3.5rem;  */
    }
    /* .abrirMenu-responsive{
        display: flex;
    } */
    /* .abrirMenu-responsive img{
        height: 3rem;
        width: 3rem
    } */
    .cerrarMenu-responsive img{
        margin:1rem 1rem 1rem 0;
        height: 2rem;
        width: 2rem
    }
    @keyframes abriendo-menu {
        0%{width:0;}
        100%{width: 70%;}
    }
}

/* ESTILOS DEL BANNER (MOBILE FIRST) */

.banner-container{
    background-color: var(--color-secundario);
    position: relative;
    width: 100%;
    height: 35vh;
    max-height: 600px;
    top: var(--HeaderFooter-Size);
    /* z-index: 100; */
}
.banner-img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: 80% 80%;
    z-index: 50;
}
/* .prev-btn{
    position: absolute;
    z-index: 100;
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
    left: 95%;
    top: 40%;
}

.prev-btn img{
    position: absolute;
    width: 10px;
    height: 10px;
} */

/* ESTILOS DEL BANNER (escritorio) */
@media only screen   and (min-width: 769px){
    .banner-container{
        /* background-color: var(--color-secundario);
        position: relative;
        width: 100%; */
        height: 50vh;
        /* top: var(--HeaderFooter-Size); */
    }
    .banner-img{
        /* height: 100%; */
        /* width: 100%;
        position: absolute;*/
        object-position: 80% 75%;
        object-fit: cover; 
    }
}

/* ESTILOS DE LA FOTO DE PERFIL (MOBILE FIRST) */

.foto-container{
    position: relative;
    width: 25vh;
    min-width: 100px;
    max-width: 180px; 
    height: 25vh;
    min-height: 100px;
    max-height: 180px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* top: -15vh; */
    z-index: 100;
}
.foto-container img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: var(--color-secundario) solid 2px;
    object-fit: cover;
}
/* ESTILOS DE LA FOTO DE PERFIL (escritorio) */
@media only screen   and (min-width: 769px){
.foto-container{
    /* margin-left: 3vw; */
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
    /* top: -15vh; */

}
}
/* ESTILOS DE ACERCA DE (MOBILE FIRST) */
.acerca-de-section{
    position: absolute;
    width: 100%;
    height: max-content;
    background-color: var(--color-secundario);
    text-align: center;
    padding: 1.5rem;
    /* top: calc(35vh + var(--HeaderFooter-Size)); */
    /* overflow: hidden; */
}
.acerca-de-membrete{
    position: relative;
    z-index: 150;
}
.acerca-de-nombre{
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    margin:1rem auto;
}
.acerca-de-titulo{
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    margin: 1rem auto;
}
.acerca-de-info{
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 2.5rem auto;
}

@media only screen   and (min-width: 769px){
    .acerca-de-section{
        display: flex;
        justify-content: space-between;
        height: min-content;
        padding: 1.5rem;
        top: calc(50vh + var(--HeaderFooter-Size));
        /* overflow: hidden; */
        text-align:start;
    }
    .acerca-de-nombre{
        /* margin: 1rem auto 1rem 6.5vw; */
        margin: 0.5rem auto;
    }
    .acerca-de-titulo{
        /* margin: 1rem auto 1rem 5.5vw; */
        margin: 0.5rem auto;
    }
    .titulo-nombre-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .acerca-de-info{
        align-self: center;
        /* text-align: center; */
        width: 60vw;

    }
    .acerca-de-membrete{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 40vw;
        justify-content: flex-end;
        align-items: center;
        margin-right: auto;
        z-index: 150;
    }
}
@media only screen   and (min-width: 996px){

    .acerca-de-membrete{
        /* position: relative; */
        display: flex;
        flex-direction: row;
        width: 45vw;
        /* justify-content: flex-start; */
        /* align-content: center; */
        /* margin-right: auto; */
        z-index: 150;
    }
    .acerca-de-nombre,.acerca-de-titulo {
        font-size: 3rem;
        line-height: 3.5rem;
        
    }

    .titulo-nombre-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 1.5rem;
    }
    .acerca-de-info{
        /* align-self: center; */
        font-weight: 500;
        font-size: 1.9rem;
        line-height: 2rem;
        text-align: left;
        letter-spacing: 0.1em;
        width: 50vw;
        margin: 2rem 2rem 2rem 3rem;

    }
    .foto-container{
        width: 30%;

    }
}