*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    --color-primario: #260B78;
    --color-secundario:#A0BCC7;
    --color-texto-primario:#000000;
    --color-texto-secundario:#ffffff;
    --color-decoracion:#ffffff;
    --fontsize-titulos: 3rem;
    --fontsize-subtitulos: 2.5rem;
    --fontsize-contenido: 1.8rem;
    --fontsize-titulos-responsive: 3.5rem;
    --fontsize-subtitulos-responsive: 3rem;
    --fontsize-contenido-responsive: 2.2rem;
    --fontsize-titulos-responsive-XL: 4rem;
    --fontsize-subtitulos-responsive-XL: 3.5rem;
    --fontsize-contenido-responsive-XL: 2.5rem;
    --fontfamily-web: Hepta Slab;
    --HeaderFooter-Size: 7rem;
}

/* ESTILOS DEL HEADER */
.header-section{
    background-color: var(--color-primario);
    position: fixed;
    width: 100%;
    height:var(--HeaderFooter-Size);
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    z-index: 1000;
}
.logo-section{
    width: 30%;
    height:var(--HeaderFooter-Size);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-curso-responsive{
    display: none;
}
.logo-curso{
    width: 80%;
    height: 60%;
    max-width: 13rem;
    max-height: var(--HeaderFooter-Size);
}
.nombre_curso{
    font-size: 1.5rem;
    display: block;
    padding: 0;
    color:var(--color-texto-secundario);
    letter-spacing: 0.5rem
}
.social-section{
    width: 50%;
    height:var(--HeaderFooter-Size);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.social-bar {
    margin: 0 2rem 0 0;
}
.social-section img {
    height: 4rem;
    width: 4rem;
    margin: 0.5rem;
    padding: 0;
}
.login-bar img{
    height: 5.5rem;
    width: 5.5rem;
}
.abrirMenu-responsive{
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}
.nombre-redes{
    display: none;
}
.cerrarMenu-responsive{
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}
.login-logo{
    cursor: pointer;
}
.logout-logo{
    display: none;
    cursor: pointer;
}
.data{
    position: absolute;
    display: none;
    justify-content: center;
    align-items:center;
    right: 0;
    flex-direction: column;
    width: 25rem;
    padding: 1rem;
    height: max-content;
    color: var(--color-texto-secundario);
    font-size: 1.4rem;
    background-color: var(--color-primario);
}
.data label {
    align-self: flex-start;
    margin-left: 1.5rem;
}
.data a {
    color: var(--color-texto-secundario);
    margin: 0.2rem;
}
.data input {
    margin: 0.3rem;
    width: 80%;
}
.data-btn{
    width: 50%;
    margin: 0.8rem  auto;
    
}


    /* ESTILOS DEL FOOTER */
.footer-section{
    background-color: var(--color-primario);
    width: 100%;
    height:var(--HeaderFooter-Size);
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    z-index: 1000;
}
footer .logo-section{
    width:20%;
}

footer .social-section{
    width: fit-content;
    justify-content: center;
    align-items: center;
}

/* ESTILOS DEL HEADER RESPONSIVE */
@media only screen   and (max-width: 769px){
    :root{
        --HeaderFooter-Size: 5rem;
    }
    .header-section{
        height: var(--HeaderFooter-Size); 
        padding: 0 0.3rem 0 0.3rem;
    }
    .logo-section{
        width: 40%;
        height: var(--HeaderFooter-Size); 
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
    }
    .logo-curso-responsive{
        display: flex;
        width: 80%;
        height: 90%;
        max-width: 5rem;
        max-height: 5rem;
    }
    .logo-curso{
        display: none;
    }
    .nombre_curso{
        font-size: 1.3rem;
        letter-spacing: 0.3rem
    }
    .social-section{
        width: 40%;
        height: var(--HeaderFooter-Size); 
        display: flex;
        justify-content: flex-end;
        align-items:center;
        z-index: 1000;
    }
    .social-bar {
        margin: 0;
        position: absolute;
        width: 40%;
        max-width: 18rem;
        top: 0;
        right: 0rem;
        display:none;
        flex-direction: column;
        background-color: var(--color-primario);
        z-index: 1000;
    }
    .social-bar a{
        height: var(--HeaderFooter-Size); 
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .cerrarMenu-responsive{
        display: flex;
        padding: 0;
    }
    .social-bar :first-child{
        align-self: flex-end;
    }
    .menu-abierto{
        display: flex;
        animation-duration: 0.8s;
        animation-name: abriendo-menu;
    }
    .nombre-redes{
        display: flex;
        color: var(--color-texto-secundario);
        font-size: 1.3rem;
        letter-spacing: 0.3rem;
        margin-left: 2rem;  
    }
    .social-section img {
        height: 3.5rem;
        width: 3.5rem;
        padding: 0;
    }
    .login-bar img{
        height: 3.5rem;
        width: 3.5rem;
    }
    .abrirMenu-responsive{
        display: flex;
    }
    .abrirMenu-responsive img{
        height: 3rem;
        width: 3rem
    }
    .cerrarMenu-responsive img{
        margin:1.25rem 1rem 1.25rem 0;
        height: 2.5rem;
        width: 2.5rem
    }
    @keyframes abriendo-menu {
        0%{width:0;}
        100%{width:40%;}
    }

        /* ESTILOS DEL FOOTER */
.footer-section{

    width: 100%;
    height:var(--HeaderFooter-Size);
   }
   footer .logo-section{
    width:45%;
}

footer .logo-curso{
    display: block;
    width: 42%;
    height:75%;
    max-height: 3.5rem;;
}
footer .logo-curso-responsive{
    display: none;
}
}
@media only screen and (max-width: 400px){
    :root{
        --HeaderFooter-Size: 4rem;
    }
    .header-section{
        height: var(--HeaderFooter-Size); 
        padding: 0 0.2rem 0 0.2rem;
    }
    .logo-section{
        height: var(--HeaderFooter-Size); 
        align-items: center;
    }
    .logo-curso-responsive{
        height: 100%;
        max-width: 4.5rem;
        max-height: var(--HeaderFooter-Size); 
        margin: 0;
    }

    .nombre_curso{
        display: none;
    }
    .social-section{
        width: 40%;
        max-width: 15rem;
        height: var(--HeaderFooter-Size); 
        display: flex;
        justify-content: flex-end;
        align-items:center;
    }
    .social-bar {
        width: 70%;
        max-width: 15rem;
    }
    .social-bar a{
        height: var(--HeaderFooter-Size); 
        align-items: center;
    }
    .cerrarMenu-responsive{
        height: var(--HeaderFooter-Size); 
    }
    .nombre-redes{
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        margin-left: 1.5rem;  
    }
    .social-section img {
        height: 3rem;
        width: 3rem;
    }
    .login-bar img{
        margin: 0 0.2rem 0 0;
    }

    .cerrarMenu-responsive img{
        margin:1rem 1rem 1rem 0;
        height: 2rem;
        width: 2rem
    }
    @keyframes abriendo-menu {
        0%{width:0;}
        100%{width: 70%;}
    }
    /* ESTILOS DEL FOOTER */
    footer .logo-curso{
        display: none;
        width: 60%;
        height: 70%;
    }
    footer .logo-curso-responsive{
        display: block;
    }
    footer .nombre_curso{
        display: block;
    }
}
/* (MOBILE FIRST) */
/* ESTILOS DEL BANNER */

.banner-container{
    background-color: var(--color-secundario);
    position: relative;
    width: 100%;
    height: 35vh;
    max-height: 600px;
}
.banner-img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: 80% 80%;
    z-index: 500;
}

/* ESTILOS DE LA FOTO DE PERFIL  */

.foto-container{
    position: relative;
    width: 25vh;
    min-width: 100px;
    max-width: 180px; 
    height: 25vh;
    min-height: 100px;
    max-height: 180px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 600;
}
.foto-container img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: var(--color-secundario) solid 2px;
    object-fit: cover;
}

/* ESTILOS DE ACERCA DE */
.acerca-de-section{
    position: relative;
    width: 100%;
    height: max-content;
    background-color: var(--color-secundario);
    text-align: center;
    padding: 1.5rem;
}
.acerca-de-membrete{
    position: relative;
    z-index: 700;
}
.acerca-de-nombre{
    font-weight: 700;
    font-size: var(--fontsize-titulos);
    margin:1rem auto;
}
.acerca-de-titulo{
    font-weight: 500;
    font-size: var(--fontsize-titulos);
    margin: 1rem auto;
}
.acerca-de-info{
    font-weight: 300;
    font-size:var(--fontsize-contenido);
    text-align: center;
    letter-spacing: 0.1em;
    margin: 2.5rem auto;
}

/* ESTILOS DE LA SECCION DE EXPERIENCIA */
.experience-section{
    position: relative;
    width: 100%;
    height: max-content;
    background-color: var(--color-decoracion);
    text-align: center;
}
.experiences-container{
    display: flex;
    flex-direction: column;
}
.section-titles{
    font-size: var(--fontsize-titulos);
    text-align: center;
    padding: 1.5rem;
}
.experience-item-container{
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    position: relative;
}
.experience-item-front{
display: flex;
position: relative;
background-color: var(--color-decoracion);
transition: opacity 1.5s;
flex-direction: column;
justify-content:space-evenly;
align-items: center;
border: 1px solid var(--color-primario) ;
border-radius: 10%;
width: 80vw;
max-width: 38rem;
height: 80vw ;
max-height: 38rem;
margin: auto;
padding: 1rem;
z-index: 400;
}
.experience-item-front:hover{
   opacity: 0;
   transition: opacity 1.5s;
}

.experience-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
}
.experience-place{
    font-size: var(--fontsize-subtitulos);
    margin: 1rem;
}
.experience-date,.experience-name{
    font-size: var(--fontsize-contenido);
    font-weight: lighter;
}
.experience-logo-img{
    text-align: center;
    border-radius:50%;
    width: 40vw;
    max-width: 22rem;
    height: 40vw ;
    max-height: 22rem;
}
.experience-item-reverse{
    display: flex;
    position: absolute;
    top: 0;
    z-index: 300;
    align-items: center;
    text-align: center;
    border: 1px solid var(--color-primario) ;
    border-radius: 10%;
    width: 80vw;
    max-width: 38rem;
    height: 80vw ;
    max-height: 38rem;
    padding: 1rem;
    background-color: var(--color-secundario);
    }
    .experience-description{
        font-size: var(--fontsize-contenido);
    }
    /* ESTILOS DE LA SECCION EDUCACION */
    .education-section{
        background-color: var(--color-secundario);
        position: relative;
        width: 100%;
        height: max-content;
        text-align: center;
    }
    .education-item-container{
        margin: 0.5rem;
    }
    .education-item{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        border-bottom: var(--color-texto-primario) solid 1px;
        padding: 1rem;
    }

    .education-logo{
        width: 30vw;
    }
    .education-logo-img{
        width: 60%;
        max-width: 40rem;
    }
    .education-details{
        text-align: center;
        width: 70vw;
    }
    .education-place{
        font-size: var(--fontsize-contenido);
    }
    .education-date,.education-name{
        font-size: var(--fontsize-contenido);
        font-weight: lighter;
    }
    /* ESTILOS DE LA SECCION HABILIDADES */
    .skills-section{
        background-color: var(--color-decoracion);
        position: relative;
        width: 100%;
        height: max-content;
        text-align: center;
    }
    .skill-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skill-item-container{
        background-color: var(--color-primario);
        width: 65vw;
        height: 65vw;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skill-name{
        font-size: var(--fontsize-subtitulos);
        color: var(--color-texto-secundario);
        z-index: 10;
    
    }
    .skill-level{
        font-size: var(--fontsize-contenido);
        color: var(--color-texto-secundario);
        font-weight: lighter;
    }
    .skill-graphic{
        position: absolute;
        border: var(--color-secundario) solid 2rem;
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
    
    }
    /* ESTILOS DE LA SECCION DE PROYECTOS */
.proyect-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.proyect-item-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 0.5rem;
    width: 65vw;
    height: 80vw;
    border: var(--color-primario) solid 1px;
    border-radius: 0px 0px 20% 20%;
}
.proyect-item-container a{
    font-size: var(--fontsize-contenido);
    color: var(--color-texto-primario);
    font-weight: lighter;
}

.proyect-name{
    font-size: var(--fontsize-subtitulos);
    color: var(--color-texto-primario);
}

.proyect-date{
    font-size: var(--fontsize-contenido);
    color: var(--color-texto-primario);
    font-weight: lighter;
}

.proyect-img{
    align-self: center;
    width: 80%;
    height: 60%;
    background-color: var(--color-secundario);
    object-fit: cover;
}

.proyect-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.boton-edicion{
    display: none;
    position: absolute;
    z-index: 950;
    right:0;
    border: none;
    background-color: #00000000 ;
    pointer-events: all;
}

.boton-edicion img{
    width: 4rem;
}

.banner-container .boton-edicion{
    bottom: 0;
    }

    


/* ESCRITORIO */
/* ESTILOS DEL BANNER */
@media only screen   and (min-width: 769px){
    .banner-container{
        height: 45vh;
    }
    .banner-img{
        object-position: 80% 75%;
        object-fit: cover; 
    }

/* ESTILOS DE LA FOTO DE PERFIL */
.foto-container{
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
}

.acerca-de-section{
    display: flex;
    justify-content: space-between;
    height: min-content;
    padding: 1.5rem;
    text-align:start;
}
.acerca-de-nombre{
    margin: 0.5rem auto;
    font-size: var(--fontsize-titulos-responsive);
}
.acerca-de-titulo{
    margin: 0.5rem auto;
    font-size: var(--fontsize-subtitulos-responsive);
}
.titulo-nombre-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.acerca-de-info{
    align-self: center;
    width: 60vw;
    font-size: var(--fontsize-contenido-responsive);

}
.acerca-de-membrete{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: flex-end;
    align-items: center;
    margin-right: auto;
    z-index: 700;
}
.section-titles{
    font-size: var(--fontsize-titulos-responsive);
    text-align: center;
    padding: 1.8rem;
}

/* ESTILOS DE LA SECCION EXPERIENCIA  */
.experiences-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.experience-item-front{
    max-width: 40rem;
    max-height: 40rem;
}
.experience-place{
    font-size: var(--fontsize-subtitulos-responsive);
    margin: 2rem;
}

.experience-date,.experience-name{
    font-size: var(--fontsize-contenido-responsive);
    font-weight: lighter;
}

.experience-logo-img{
    text-align: center;
    border-radius:50%;
    max-width: 23rem;
    max-height: 23rem;
}
.experience-item-reverse{
    max-width: 40rem;
    max-height: 40rem;
    }
    .experience-description{
        font-size: var(--fontsize-contenido-responsive);
        
    }
    /* ESTILOS DE LA SECCION EDUCACION */
    .education-item{
        justify-content: space-around;
        border-bottom: var(--color-texto-primario) solid 2px;
    }

    .education-logo{
        width: 35vw;
    }
    .education-logo-img{
        width: 30%;
        max-width: 30rem;
    }
    .education-details{
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: start;
    }
    .education-place{
        font-size: var(--fontsize-contenido-responsive);
        margin: 0.5rem;
    }
    .education-date,.education-name{
        font-size: var(--fontsize-contenido-responsive);
        margin: 1rem;
        
    }
    /* ESTILOS DE LA SECCION HABILIDADES */
    .skill-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .skill-item-container{
        background-color: var(--color-primario);
        width: 40rem;
        height:40rem;
        margin: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skill-name{
        font-size: var(--fontsize-subtitulos-responsive);
    }
    .skill-level{
        font-size: var(--fontsize-contenido-responsive);
    }
    .skill-graphic{
        position: absolute;
        border: var(--color-secundario) solid 3rem;
        width: 35rem;
        height: 35rem;
        border-radius: 50%;
    }
        /* ESTILOS DE LA SECCION DE PROYECTOS */
.proyect-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.proyect-item-container{
    margin: 1rem;
    min-width: 32.5rem;
    min-height: 40rem;
    max-width: 45rem;
    max-height: 55rem;
    border: var(--color-primario) solid 2px;
    border-radius: 0px 0px 20% 20%;
}
.proyect-item-container a{
    font-size: var(--fontsize-contenido-responsive);
}

.proyect-name{
    font-size: var(--fontsize-subtitulos-responsive);
}

.proyect-date{
    font-size: var(--fontsize-contenido-responsive);
}

.boton-edicion img{
    width: 5.5rem;
}
}


/* ESCRITORIO WIDE */
@media only screen   and (min-width: 1200px){

/* ESTILOS DE ACERCA DE WIDE */
    .acerca-de-membrete{
        display: flex;
        flex-direction: row;
        width: 50vw;
        z-index: 700;
    }
    .acerca-de-nombre,.acerca-de-titulo {
        font-size: var(--fontsize-titulos-responsive-XL);
    }

    .titulo-nombre-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 2rem;
        width: fit-content;
    }
    .acerca-de-info{
        font-weight: 500;
        font-size: var(--fontsize-contenido-responsive-XL);
        text-align: left;
        letter-spacing: 0.1em;
        width: 50vw;
        margin: 2rem 2rem 2rem 3rem;

    }
    .foto-container{
        width: 30%;

    }
    .section-titles{
        font-size: var(--fontsize-titulos-responsive-XL);
        text-align: center;
        margin: 2rem;
    }
/* ESTILOS DE LA SECCION EXPERIENCIA WIDE  */
    .experience-item-front{
        max-width: 50rem;
        max-height: 50rem;
    }
    .experience-place{
        font-size: var(--fontsize-subtitulos-responsive-XL);
        margin: 2rem;
    }
    .experience-date,.experience-name{
        font-size: var(--fontsize-contenido-responsive-XL);
        font-weight: lighter;
    }
    .experience-logo-img{
        text-align: center;
        border-radius:50%;
        max-width: 31rem;
        max-height: 31rem;
    }
    .experience-item-reverse{
        max-width: 50rem;
        max-height: 50rem;
        }
    .experience-description{
        font-size: var(--fontsize-contenido-responsive-XL);
    }
            /* ESTILOS DE LA SECCION EDUCACION WIDE*/
    .education-item{
        justify-content: center;
        border-bottom: var(--color-texto-primario) solid 2px;
    }

    .education-logo{
        width: 40vw;
    }
    .education-logo-img{
        width: 50%;
        max-width: 40rem;
    }
    .education-details{
        text-align: start;
    }
    .education-place{
        font-size: var(--fontsize-subtitulos-responsive-XL);
    }
    .education-date,.education-name{
        font-size: var(--fontsize-contenido-responsive-XL);
        
    }
        /* ESTILOS DE LA SECCION HABILIDADES */
        .skill-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
        }
        .skill-item-container{
            background-color: var(--color-primario);
            width: 50rem;
            height:50rem;
            margin: 2.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .skill-name{
            font-size: var(--fontsize-subtitulos-responsive-XL);
        }
        .skill-level{
            font-size: var(--fontsize-contenido-responsive-XL);
        }
        .skill-graphic{
            border: var(--color-secundario) solid 4rem;
            width: 40rem;
            height: 40rem;
        }
                /* ESTILOS DE LA SECCION DE PROYECTOS WIDE */
.proyect-container{
    justify-content: space-evenly;
    align-items: center;
}
.proyect-item-container{
       border: var(--color-primario) solid 3px;
}
.proyect-item-container a{
    font-size: var(--fontsize-contenido-responsive-XL);
}

.proyect-name{
    font-size: var(--fontsize-subtitulos-responsive-XL);
}

.proyect-date{
    font-size: var(--fontsize-contenido-responsive-XL);
}
}