<form class="register-section data" #f="ngForm" (ngSubmit)="onRegister()" novalidate>
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nombre" required>

    <label for="nombreUsuario">Usuario</label>
    <input id="nombreUsuario" type="text" placeholder="Usuario" name="nombreUsuario" [(ngModel)]="nombreUsuario"
        required>

    <label for="email">Email</label>
    <input id="email" type="text" placeholder="Email" name="email" [(ngModel)]="email" required>

    <label for="password">Contraseña</label>
    <input id="password" type="password" placeholder="********" name="password" [(ngModel)]="password" required>

    
    <button type="submit">Crear Usuario</button>

    <p *ngIf="f.submitted && isRegisterFail ">Error en el registro: {{errMsj}}</p>

</form>