
    <form class="register-section data">
        <label for="email">Email</label>
        <input id="email" type="email" class="log-email" placeholder="ejemplo@email.com">
        <!-- <label for="nombre">Nombre</label>
        <input id="nombre" type="email" class="nombre" name="nombre" placeholder="ejemplo@email.com">
        <label for="nombreUsuario">Usuario</label>
        <input id="nombreUsuario" type="email" class="nombreUsuario" name="nombreUsuario" placeholder="ejemplo@email.com">
        <label for="password">Contraseña</label> -->
        <input id="password" type="password" name="log-pass" placeholder="********">
        <button type="submit" class="data-btn">Registrarme</button>
    </form>
