
    <form class="register-section data">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" class="nombre" name="nombre" placeholder="Nombre">
        <label for="nombreUsuario">Usuario</label>
        <input id="nombreUsuario" type="email" class="nombreUsuario" name="nombreUsuario" placeholder="Nombre de usuario">
        <label for="email">Email</label>
        <input id="email" type="email" class="log-email" placeholder="ejemplo@email.com">
        <label for="password">Contraseña</label>
        <input id="password" type="password" name="log-pass" placeholder="********">
        <label for="nombre">Roles</label>
        <input id="nombre" type="text" class="authorities" name="authorities" placeholder="Rol de usuario">
        <button type="submit" class="data-btn">Registrarme</button>
    </form>
