.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    height: 250px;
    padding: 20px;
    margin: 20% auto;
    border: 1px dotted black;
    background-color:#A0BCC7;
}
input, textarea{
    margin: 10px;
    height: 30px;
}
.btn-add{
    
    width: 30%;
    height: 30px;
    min-width: fit-content;
    margin: 30px auto;
   
}