.form-container{
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 350px;
    padding: 20px;
    margin: 20px auto;
    border: 1px dotted black;
    background-color:#A0BCC7;
}
input, textarea{
    margin: 5px;
    height: 30px;
}
.btn-add{
    width: 30%;
    height: 40px;
    min-width: fit-content;
    margin:20px auto;
   
}

@media screen and (max-width:900px){
    .form-container{
        width: 90%;
        margin: 10px auto;

    }
}