    <section>

            <label for="email">Email</label>
            <input id="email" type="email" placeholder="ejemplo@email.com">

            <label for="password">Contraseña</label>
            <input id="password" type="password" name="log-pass" placeholder="********">

        <button type="submit" (click)="entrar()">Entrar</button>
        <a href="/registrar" class="registro">Si no estás registrado haz click acá</a>
        <a href="/recuperar" class="recupero">Olvidé mi contraseña</a>
    </section>
    

