<div class="acerca-de-section">
    <button class="boton-edicion" aria-label="editar">
        <img src="assets/img/edit_icon.svg" alt="Icono de edición">
    </button>
    <div class="acerca-de-membrete">
        <div class="foto-container">
            <img src={{persona.url_foto}} alt="foto de perfil" class="foto_de_perfil">
        </div>
    <div class="titulo-nombre-container">
        <div class="acerca-de-nombre">
            <!-- {{miPortfolio.name}} -->
      {{persona.nombre}} {{persona.apellido}}
            
        </div>
        <div class="acerca-de-titulo">
            <!-- {{miPortfolio.position}} -->
            {{persona.titulo}}
        </div>
    </div>
    </div>
    <div class="acerca-de-info">
        <!-- {{miPortfolio.acercaDe}} -->
        {{persona.sobre_mi}}
    </div>
</div>
