<div class="acerca-de-section">
    <button class="boton-edicion" aria-label="editar">
        <img src="assets/img/edit_icon.svg" alt="Icono de edición">
    </button>
    <div class="acerca-de-membrete">
        <div class="foto-container">
            <img src="assets/img/perfil-img.jpg" alt="foto de perfil">
        </div>
    <div class="titulo-nombre-container">
        <div class="acerca-de-nombre">
            {{miPortfolio.name}}
        </div>
        <div class="acerca-de-titulo">
            {{miPortfolio.position}}
        </div>
    </div>
    </div>
    <div class="acerca-de-info">
        {{miPortfolio.acercaDe}}
    </div>
</div>
