<!-- <div class="skills-section">
    <button class="boton-edicion" aria-label="editar">
        <img src="assets/img/edit_icon.svg" alt="Icono de edición">
    </button>
    <h2 class="skill-title section-titles">HABILIDADES</h2>
    <div class="skill-container">
        <div *ngFor="let skill of skillList" class="skill-item-container">
            <h3 class="skill-name">{{skill.skill}}</h3>
            <h4 class="skill-level">{{skill.nivelSkill}}</h4>
            <div class="skill-graphic"></div>
        </div>

    </div>
</div> -->
<div class="skills-section">
    <button class="boton-edicion" aria-label="editar">
        <img src="assets/img/edit_icon.svg" alt="Icono de edición">
    </button>
    <h2 class="skill-title section-titles">HABILIDADES</h2>
    <div class="skill-container">
        <div *ngFor="let habilidad of hab" class="skill-item-container">
            <h3 class="skill-name">{{habilidad.habilidad}}</h3>
            <h4 class="skill-level">{{habilidad.nivel}}</h4>
            <div class="skill-graphic"></div>
        </div>

    </div>
</div>