    /* ESTILOS DE LA SECCION HABILIDADES */
    .skills-section{
        background-color: var(--color-decoracion);
        position: relative;
        width: 100%;
        height: max-content;
        text-align: center;
    }
    .skill-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skill-item-container{
        background-color: var(--color-primario);
        width: 65vw;
        height: 65vw;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .skill-name{
        font-size: var(--fontsize-subtitulos);
        color: var(--color-texto-secundario);
        z-index: 10;
    
    }
    .skill-level{
        position: relative;
        font-size: var(--fontsize-contenido);
        color: var(--color-texto-secundario);
        font-weight: lighter;
        z-index: 10;
        margin: 1.5rem;
    }
    .skill-graphic{
        position: absolute;
        transform: rotate(90deg);
        /* background-color: var(--color-secundario); */
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
        display: grid;
        place-items: center;
    }
    .skill-graphic:before{
        content: "";
        position: absolute;
        background-color:var(--color-primario);
        width: 85%;
        height: 85%;
        border-radius: 50%;
    
    }

    /* ESCRITORIO */
@media only screen   and (min-width: 769px){
    /* ESTILOS DE LA SECCION HABILIDADES */
    
    .skill-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .skill-item-container{
        width: 40rem;
        height:40rem;
        margin: 1.5rem;
    }
    .skill-name{
        font-size: var(--fontsize-subtitulos-responsive);
    }
    .skill-level{
        font-size: var(--fontsize-contenido-responsive);
    }
    .skill-graphic{
        width: 35rem;
        height: 35rem;
    }}
    
/* ESCRITORIO WIDE */
@media only screen   and (min-width: 1200px){

            /* ESTILOS DE LA SECCION HABILIDADES */
            .skill-item-container{
                width: 50rem;
                height:50rem;
                margin: 2.5rem;
            }
            .skill-name{
                font-size: var(--fontsize-subtitulos-responsive-XL);
            }
            .skill-level{
                font-size: var(--fontsize-contenido-responsive-XL);
            }
            .skill-graphic{
                width: 40rem;
                height: 40rem;
            }
}