/* (MOBILE FIRST) */
/* ESTILOS DEL BANNER */

.banner-container{
    background-color: var(--color-secundario);
    position: relative;
    width: 100%;
    height: 35vh;
    max-height: 600px;
    /* top: var(--HeaderFooter-Size); */
    /* z-index: 100; */
}
.banner-img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: 80% 80%;
    z-index: 500;
}
/* .prev-btn{
    position: absolute;
    z-index: 100;
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
    left: 95%;
    top: 40%;
}

.prev-btn img{
    position: absolute;
    width: 10px;
    height: 10px;
} */