
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    --color-primario: #260B78;
    --color-secundario:#A0BCC7;
    --color-texto-primario:#000000;
    --color-texto-secundario:#ffffff;
    --color-decoracion:#ffffff;
    --fontsize-titulos: 3rem;
    --fontsize-subtitulos: 2.5rem;
    --fontsize-contenido: 1.8rem;
    --fontsize-titulos-responsive: 3.5rem;
    --fontsize-subtitulos-responsive: 3rem;
    --fontsize-contenido-responsive: 2.2rem;
    --fontsize-titulos-responsive-XL: 4rem;
    --fontsize-subtitulos-responsive-XL: 3.5rem;
    --fontsize-contenido-responsive-XL: 2.5rem;
    /* --HeaderFooter-Size: 7rem; */
}
.btn-add{
    font-size: 1.3rem;
   width:max-content;
   padding: 10px;
    z-index: 950;
    border: none;
    background-color:var(--color-primario) ;
    color: var(--color-texto-secundario);
    pointer-events: all;
}

.boton-edicion{
    /* display: none; */
    position: absolute;
    z-index: 950;
    /* right:50px;
    top:10px; */
    border: none;
    background-color: #00000000 ;
    pointer-events: all;
    top: 0;
    margin: 5px;
}

.education-container .boton-edicion, .education-container .boton-eliminar {
    right: 0;
}

.acerca-de-section .boton-edicion, .banner-container .boton-edicion {
    right: 0;
    bottom: 0;
}

.skill-container .boton-edicion, .skill-container .boton-eliminar,
.experiences-container .boton-edicion, .experiences-container .boton-eliminar{
    background-color: #ffffffa4;
    border-radius: 20%;
    padding: 2px;
}

.boton-eliminar{
    position: absolute;
    z-index: 950;
    /* right:10px;
    top:10px; */
    border: none;
    background-color: #00000000 ;
    pointer-events: all;
    bottom: 0;
    margin: 5px;
}
.boton-eliminar img{
    width: 30px;
}


.boton-edicion img{
   width: 25px;
}


    
.section-titles{
    font-size: var(--fontsize-titulos);
    text-align: center;
    padding: 1.5rem;
    }

    @media only screen and (max-width: 400px){
        :root{
            --HeaderFooter-Size: 4rem;
        }
    }
/* ESCRITORIO */
@media only screen   and (max-width: 769px){
    /* :root{
        --HeaderFooter-Size: 5rem;
    } */

    .section-titles{
        font-size: var(--fontsize-titulos-responsive);
        text-align: center;
        padding: 1.8rem;
    }
}
/* ESCRITORIO WIDE */
@media only screen   and (min-width: 1200px){
        .section-titles{
            font-size: var(--fontsize-titulos-responsive-XL);
            text-align: center;
            margin: 2rem;
        }
    }