/* ESTILOS DEL HEADER */
:root {
    --color-primario: #260B78;
    --HeaderFooter-Size: 7rem;

}

.navbar-toggler {
    border: none;
    width: 65px;
    height: 55px;
}


.navbar-toggler-icon {
    width: 50px;
    height: 50px;

}

/* .show {
    position: absolute;
    width: 200px;
    top: var(--HeaderFooter-Size);
    background-color: var(--color-primario);
    padding: 15px;
} */

.nav-link {
    font-size: 13px;
}

.container-fluid {
    background-color: var(--color-primario);
}

/* ESTILOS DEL HEADER RESPONSIVE */
@media only screen and (max-width: 769px) {
    :root {
        --HeaderFooter-Size: 5rem;
    }

    .navbar-toggler {
        border: none;
        width: 55px;
        height: 40px;
    }
 

    .navbar-toggler-icon {
        width: 40px;
        height: 35px;

    }}


@media only screen and (max-width: 400px){
    :root{
        --HeaderFooter-Size: 4rem;
    }}
    

