<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" id="btn-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" id="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" *ngFor="let redes of red" >
            <a class="nav-link {{redes.nombre}} " aria-current="page" [href]="redes.url_red" target="_blank">{{redes.nombre}}</a>
          </li>
        </ul>
      </div>
      
    </div>
  </nav>
