<!-- <div class="proyect-section">
    <button class="boton-edicion" aria-label="editar">
        <img src="assets/img/edit_icon.svg" alt="Icono de edición">
    </button>
    <h2 class="proyect-title section-titles">PROYECTOS</h2>
    <div class="proyect-container">
        <div *ngFor="let proyect of proyectList" class="proyect-item-container">
            <h3 class="proyect-name">{{proyect.proyecto}}</h3>
            <h4 class="proyect-date">{{proyect.fechaProyecto}}</h4>
            <div class="proyect-img">
                <img [src]="proyect.imgProyecto" [alt]="proyect.altProyecto">
            </div>
            <a [href]="proyect.urlProyecto" target="_blank">Ver Proyecto</a>
        </div>
    </div>
</div> -->

<div class="proyect-section">
    <button class="boton-edicion" aria-label="editar">
        <img src="assets/img/edit_icon.svg" alt="Icono de edición">
    </button>
    <h2 class="proyect-title section-titles">PROYECTOS</h2>
    <div class="proyect-container">
        <div *ngFor="let proyecto of proy" class="proyect-item-container">
            <h3 class="proyect-name">{{proyecto.titulo}}</h3>
            <h4 class="proyect-date">{{proyecto.fecha}}</h4>
            <div class="proyect-img">
                <img [src]="proyecto.url_img" [alt]="proyecto.titulo">
            </div>
            <a [href]="proyecto.url_proyecto" target="_blank">Ver Proyecto</a>
        </div>
    </div>
</div>
